{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Year</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Sex</th>
        <th scope="col">Movie Title</th>
    </tr>
    </thead>
    <tbody>
    {% for oscar in oscars %}
    <tr>
        <td>{{ oscar.fldYear }}</td>
        <td>{{ oscar.fldName }}</td>
        <td>{{ oscar.fldAge }}</td>
        <td>{{ oscar.fldCSex }}</td>
        <td>{{ oscar.fldMoveTitle }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}