{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Movie Title</th>
        <th scope="col">Year</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Gender</th>
    </tr>
    </thead>
    <tbody>
    {% for oscar in oscars %}
    <tr>
        <td><a href="view/{{oscar.id}}">{{ oscar.Movie_Title }}</a></td>
        <td>{{ oscar.Year }}</td>
        <td>{{ oscar.Name }}</td>
        <td>{{ oscar.Age }}</td>
        <td>{{ oscar.Gender }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}