{% extends "layout.html" %}
{% block content %}
<form action="/oscar/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Year">Year Won</label>
            <input id="Year" type="text" class="form-control" placeholder="Year" name="Year">
        </div>
        <div class="col">
            <label for="Movie_Title">Movie Title</label>
            <input id="Movie_Title" type="text" class="form-control" placeholder="Title" name="Movie_Title">
        </div>
        <div class="col">
            <label for="Name">Winner's Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Name" name="Name">
        </div>
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" t ype="text" class="form-control" placeholder="Age"
                   name="Age">
        </div>
        <div class="col">
            <label for="Gender">Gender</label>
            <input id="Gender" type="text" class="form-control" placeholder="Gender" name="Gender">
        </div>
    </div>


    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}